
.Bonjour{
    height: 100px;
    background-color:#2B2B2B;
}
ion-icon{
    width:90px;
    height:90px;
    color: white; 
}

.Bonjour{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

// yeuik,sd;codnfvjnefjivnzdj